<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>familyName</key>
	<string>Neuton</string>
	<key>styleName</key>
	<string>light</string>
	<key>copyright</key>
	<string>Copyright (c) 2010, Brian M Zick (http://21326.info/),
with Reserved Font Name "Neuton".
Cleanup by Wallace Smith and William Zick.
This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>xHeight</key>
	<integer>1062</integer>
	<key>capHeight</key>
	<integer>1535</integer>
	<key>ascender</key>
	<integer>1571</integer>
	<key>descender</key>
	<integer>-477</integer>
	<key>italicAngle</key>
	<real>0</real>
	<key>note</key>
	<string>2011-6-6: Created.</string>
	<key>openTypeHeadCreated</key>
	<string>2011/05/06 19:42:56</string>
	<key>openTypeNameVersion</key>
	<string>Version 1.3</string>
	<key>postscriptFontName</key>
	<string>Neuton-light</string>
	<key>postscriptFullName</key>
	<string>Neuton light</string>
	<key>postscriptWeightName</key>
	<string>Light</string>
	<key>postscriptUnderlineThickness</key>
	<integer>102</integer>
	<key>postscriptUnderlinePosition</key>
	<integer>-205</integer>
    </dict>
</plist>
